apiVersion: v1
kind: Service
metadata:
  name: {{ include "gitlab.fullname" . }}
  labels:
    {{- include "gitlab.labels" . | nindent 4 }}
spec:
  type: {{ .Values.services.type }}
  ports:
  - name: http
    port: {{ .Values.services.http.port }}
    targetPort: http
    protocol: TCP
  - name: ssh
    port: {{ .Values.services.ssh.port }}
    targetPort: ssh
    protocol: TCP
  selector:
    {{- include "gitlab.selectorLabels" . | nindent 4 }}
