replicaCount: 1

image:
  repository: "localhost:32000/min-auth"
  pullPolicy: IfNotPresent
  tag: latest

service:
  type: ClusterIP
  port: 80

rust:
  log: info

mysql:
  host: mysql
  port: 3306
  user:
    secretName: "min-auth-secret"
    keys:
      username: username
      password: password
  dbname: minauth

redis:
  uri: redis://redis/0
  lifetime: 3600

passwordSecret:
  secretName: "min-auth-secret"
  key: "password-secret"
