replicaCount: 1

image:
  repository: "min-auth"
  pullPolicy: IfNotPresent
  tag: latest

service:
  type: ClusterIP
  port: 80

mysql:
  host: mysql.local
  port: 3306
  user:
    secretName: "min-auth-secret"
    keys:
      username: username
      password: password
  dbname: minauth

redis:
  uri: redis://redis.local/0
  lifetime: 3600

passwordSecret:
  secretName: "min-auth-secret"
  key: "password-secret"
