replicaCount: 1

image:
  repository: localhost:32000/code-server
  pullPolicy: IfNotPresent
  tag: latest

env:
  puid: 1000
  pgid: 1000
  tz: Etc/UTC

services:
  http:
    type: ClusterIP
    port: 80

storages:
  home:
    size: 10Gi
    path: <path to the directory>
    hostname: <hostname>

sudo:
  passwordHash:
    secretName: code-server-secret
    key: sudo-password-hash
