replicaCount: 1

image:
  repository: localhost:32000/code-server
  pullPolicy: IfNotPresent
  tag: latest

services:
  http:
    type: ClusterIP
    port: 80

storages:
  home:
    size: 10Gi
    path: <path to the directory>
    hostname: example
