apiVersion: v1
kind: Service
metadata:
  name: {{ include "min-auth.fullname" . }}
  labels:
    {{- include "min-auth.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: 3000
    protocol: TCP
  selector:
    {{- include "min-auth.selectorLabels" . | nindent 4 }}
