replicaCount: 1
nameOverride: ""
fullnameOverride: ""

image:
  repository: osixia/openldap
  pullPolicy: IfNotPresent
  tag: "latest"

services:
  type: NodePort
  ldap:
    port: 389
    nodePort: 30389
  ldaps:
    port: 636
    nodePort: 30636

env:
  domain: <domain>
  admin:
    password:
      secretName: openldap-secret
      key: admin-password
