replicaCount: 1
nameOverride: ""
fullnameOverride: ""

image:
  repository: osixia/openldap
  pullPolicy: IfNotPresent
  tag: "latest"

services:
  type: NodePort
  ldap:
    port: 389
    nodePort: 30389
  ldaps:
    port: 636
    nodePort: 30636

admin:
  password:
    secretName: <secret name for admin password>
    key: <secret key for admin password>

domain: <domain>
