replicaCount: 1

image:
  repository: localhost:32000/my-redmine
  pullPolicy: IfNotPresent
  tag: latest

service:
  type: ClusterIP
  port: 80

db:
  host: <MySQL host>
  port: 3306
  user:
    secretName: <secret name>
    keys:
      username: username
      password: password

storage:
  files:
    size: 10Gi
    path: <path to the directory>
    hostname: <hostname>
