replicaCount: 1

image:
  repository: redmine
  pullPolicy: IfNotPresent
  tag: latest

service:
  type: ClusterIP
  port: 80

db:
  host: mysql
  port: 3306
  user:
    secretName: redmine-secret
    keys:
      username: username
      password: password
  dbname: redmine

storages:
  files:
    size: 10Gi
    path: <path to the directory>
    hostname: <hostname>
