replicaCount: 1

image:
  repository: gitlab/gitlab-ce
  pullPolicy: IfNotPresent
  tag: latest

services:
  type: ClusterIP
  http:
    port: 80
  ssh:
    port: 22

storages:
  data:
    path: <path to data storage>
    mode: Filesystem
    size: 20Gi
    hostname: <hostname>
  config:
    path: <path to config storage>
    mode: Filesystem
    size: 1Gi
    hostname: <hostname>
