apiVersion: v1
kind: Service
metadata:
  name: {{ include "root-ca.fullname" . }}
  labels:
    {{- include "root-ca.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
  selector:
    {{- include "root-ca.selectorLabels" . | nindent 4 }}
