apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "crl.fullname" . }}
  labels:
    {{- include "crl.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "crl.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "crl.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        volumeMounts:
        - name: crl
          mountPath: /var/lib/crl
      volumes:
      - name: crl
        persistentVolumeClaim:
          claimName: {{ include "nginx.storages.crl.name" . }}
