replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-body-size: "1g"
  domain: <domain>
  hosts:
  - host: gitlab
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: vscode
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: redmine
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: wordpress
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls: []
  #- secretName: chart-example-tls
  #  hosts:
  #  - chart-example

storages:
  config:
    path: <path to config storage>
    size: 10Mi
    hostname: <hostname>
