replicaCount: 1

image:
  repository: localhost:32000/nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

services:
  http:
    type: ClusterIP
    port: 80
  gitlab_ssh:
    type: NodePort
    port: 30022
    nodePort: 30022

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-body-size: "1g"
  hosts:
  - host: crl.example.com
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: gitlab.example.com
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: vscode.example.com
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: ca.example.com
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: redmine.example.com
    paths:
    - path: /
      pathType: ImplementationSpecific
  - host: wordpress.example.com
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls: []
  #- secretName: chart-example-tls
  #  hosts:
  #  - chart-example

storages:
  config:
    size: 10Mi
    mode: Filesystem
    path: <path to config storage>
    hostname: <hostname>
  crl:
    size: 10Mi
    mode: Filesystem
    path: <path to crl storage>
    hostname: <hostname>
