replicaCount: 1

image:
  repository: wordpress
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

db:
  host: <MySQL host>
  user:
    secretName: <secret name>
    keys:
      username: username
      password: password

storage:
  html:
    size: 10Gi
    path: <path to the directory>
    hostname: <hostname>
