replicaCount: 1

image:
  repository: wordpress
  pullPolicy: IfNotPresent
  tag: latest

web:
  host: <hostname>

service:
  type: ClusterIP
  port: 80

db:
  host: mysql
  user:
    secretName: wordpress-secret
    keys:
      username: username
      password: password
  dbname: wordpress

storages:
  html:
    size: 10Gi
    path: <path to the directory>
    hostname: <hostname>
