apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wordpress.fullname" . }}
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "wordpress.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "wordpress.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        volumeMounts:
        - name: html
          mountPath: /var/www/html
        env:
        - name: WORDPRESS_DB_HOST
          value: {{ .Values.db.host }}
        - name: WORDPRESS_DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.db.user.secretName }}
              key: {{ .Values.db.user.keys.username }}
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.db.user.secretName }}
              key: {{ .Values.db.user.keys.password }}
        - name: WORDPRESS_DB_NAME
          value: {{ .Values.db.dbname }}
        - name: WORDPRESS_CONFIG_EXTRA
          value: |
            define('WP_HOME','http://localhost/wordpress');
            define('WP_SITEURL','http://localhost/wordpress');
            $_SERVER['REQUEST_URI'] = str_replace('/wp-admin/', '/wordpress/wp-admin/', $_SERVER['REQUEST_URI']);
    volumes:
    - name: html
      persistentVolumeClaim:
        claimName: {{ include "wordpress.storage.html.name" }}
