apiVersion: v1
kind: Service
metadata:
  name: {{ include "wordpress.fullname" . }}
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: http
    {{- with .Values.service.nodePort }}
    nodePort: {{ . }}
    {{- end }}
    protocol: TCP
  selector:
    {{- include "wordpress.selectorLabels" . | nindent 4 }}
