replicaCount: 1

image:
  repository: mysql
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 3306

storages:
  data:
    size: 10Gi
    mode: Filesystem
    path: <path to storage>
    hostname: <hostname>

db:
  rootPassword:
    secretName: mysql-secret
    key: rootPassword
