replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 3306

storages:
  data:
    size: 10Gi
    path: <path to storage>
    hostname: <hostname>

db:
  rootPassword:
    secretName: <secret name>
    key: rootPassword
