replicaCount: 1

image:
  repository: localhost:32000/nginx-crl
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
  hosts:
  - host: crl.example.local
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls: []

storages:
  config:
    size: 10Mi
    mode: Filesystem
    path: <path to config storage>
    hostname: <hostname>
  crl:
    size: 10Mi
    mode: Filesystem
    path: <path to crl storage>
    hostname: <hostname>
